.Rproj.user
.Rhistory
.RData
.Ruserdata

# local secrets/credentials - never commit this file
.Renviron

# aquamatch files directory
aquamatch_files/

# hypertune folder
regional_clarity/xg_models/hypertune/

# some file types that we generally don't want to track
**.DS_Store
**.csv
**.feather